---
---

.footer {
    display: flex;
    background-color: black;
    color: white;
    padding: 64px;
}

.footer .ContactInfo {
    flex: 2;
    line-height: 1.5;
}

.ContactInfo .ContactInfoTitle {
    font-size: 20px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer .FollowUs {
    flex: 2;
}

.FollowUs .FollowUsTitle {
    font-size: 20px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer .Icon {
    flex: 1;
}