---
---

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: right;

    align-items: center;

    padding: 16px;
    // height: 48px;

    background-color: black;
    color: white;
}

.header .text {
    flex-grow: 1;
    text-align: left;
    margin: 16px;
    padding-left: 16px;

    font-size: 36px;
}

.header .buttonList {
    display: flex;
    flex-direction: row;
    justify-content: right;
    flex-wrap: wrap;
}


.header .button a {
    text-align: center;

    padding: 16px;

    text-decoration: none;
    color: white;
    font-size: 18px;
}

.header .button a:hover {
    background-color: #444444;
}


@media (max-width: 700px) {
    .header .button {
        padding: 16px;
    }    
    .header .text {
        padding-top: 16px;
        padding-bottom: 16px;
        font-size: 48px;
    }
}

