---
---

.banner {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

$logo_url: url(../../../../assets/page/home/jcaclogo_optimal.jpg);

.banner .textContainer {
  flex-grow: 1;
  flex-basis: 50%;

  display: flex;
  justify-content: right;
  align-items: center;
}

.textContainer .centerBox {
  position: relative;
  width: 90%;
  height: 80%;
}

.centerBox b {
  font-size: 5rem;
}

$left_academicExcellence: 0px;
$left_balancedDevelopment: 192px;
$left_communityCitizenship: 96px;
$left_aboutAbcCulture: 440px;

@keyframes leftEaseIn_academicExcellence {
  from {
    left: $left_academicExcellence - 36px;
    opacity: 0;
  }

  to {
    left: $left_academicExcellence;
    opacity: 1;
  }
}

.academicExcellence {
  opacity: 0;
  position: absolute;
  font-size: 3rem;
  left: $left_academicExcellence;
  animation-name: leftEaseIn_academicExcellence;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes leftEaseIn_balancedDevelopment {
  from {
    left: $left_balancedDevelopment - 36px;
    opacity: 0;
  }

  to {
    left: left_balancedDevelopment;
    opacity: 1;
  }
}

.balancedDevelopment {
  opacity: 0;
  position: absolute;
  top: 96px;
  left: $left_balancedDevelopment;
  font-size: 3rem;
  animation-name: leftEaseIn_balancedDevelopment;
  animation-duration: 1s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

@keyframes leftEaseIn_communityCitizenship {
  from {
    left: $left_communityCitizenship - 36px;
    opacity: 0;
  }

  to {
    left: $left_communityCitizenship;
    opacity: 1;
  }
}

.communityCitizenship {
  opacity: 0;
  position: absolute;
  top: 192px;
  left: $left_communityCitizenship;
  font-size: 3rem;
  animation-name: leftEaseIn_communityCitizenship;
  animation-duration: 1s;
  animation-delay: 1.6s;
  animation-fill-mode: forwards;
}

@keyframes leftEaseIn_aboutAbcCulture {
  from {
    left: $left_aboutAbcCulture - 36px;
    opacity: 0;
  }

  to {
    left: $left_aboutAbcCulture;
    opacity: 1;
  }
}

.aboutAbcCulture {
  opacity: 0;
  position: absolute;
  font-size: 20px;
  top: 340px;
  left: $left_aboutAbcCulture;
  animation-name: leftEaseIn_aboutAbcCulture;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.aboutAbcCulture a {
  text-decoration: none;
  color: black;
  padding: 16px;
  border: 1px solid #000;
  transition: background-color 0.25s ease-in-out;
}

.aboutAbcCulture a:hover {
  background-color: black;
  color: white;
}

.banner .rightSide {
  flex-grow: 1;
  flex-basis: 30%;
  padding-right: 32px;
  padding-top: 32px;
}

.logo {
  height: 100vh;
  background: linear-gradient(180deg, transparent 70%, white 100%),
    $logo_url no-repeat center center / contain;
}

@media (max-width: 1360px) {
  .banner {
    height: 390px;
  }

  .banner .textContainer {
    padding-top: 32px;
  }

  .textContainer .centerBox {
    position: relative;
    width: 90%;
    height: 90%;
  }

  .centerBox b {
    font-size: 4rem;
  }

  $left_academicExcellence: 0px;
  $left_balancedDevelopment: 0px;
  $left_communityCitizenship: 0px;
  $left_aboutAbcCulture: 0px;

  .academicExcellence {
    top: 0;
    left: 0;
    font-size: 1.8rem;
  }

  @keyframes leftEaseIn_balancedDevelopment {
    from {
      left: $left_balancedDevelopment - 36px;
      opacity: 0;
    }

    to {
      left: left_balancedDevelopment;
      opacity: 1;
    }
  }

  .balancedDevelopment {
    top: 90px;
    left: $left_balancedDevelopment;
    font-size: 1.8rem;
  }

  @keyframes leftEaseIn_communityCitizenship {
    from {
      left: $left_communityCitizenship - 36px;
      opacity: 0;
    }

    to {
      left: $left_communityCitizenship;
      opacity: 1;
    }
  }

  .communityCitizenship {
    top: 180px;
    left: $left_communityCitizenship;
    font-size: 1.8rem;
  }

  @keyframes leftEaseIn_aboutAbcCulture {
    from {
      left: $left_aboutAbcCulture - 36px;
      opacity: 0;
    }

    to {
      left: $left_aboutAbcCulture;
      opacity: 1;
    }
  }

  .aboutAbcCulture {
    top: 300px;
    left: $left_aboutAbcCulture;
  }

  .rightSide {
    display: none;
  }
}
