---
---

.about {
  padding: 64px 20vw;
}

.about .aboutTitle {
  font-size: 40px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-bottom: 1.5rem;
}

.about .aboutContent {
  line-height: 1.5;
}

.about .aboutContent p {
  font-size: 18px;
}

@media (max-width: 1360px) {
  .about {
    padding: 64px 10vw;
  }
}
