---
---

.hallManagement {
	display: flex;
	justify-content: center;

	padding-top: 16px;
	padding-bottom: 64px;
}

.hallMaster {
	flex-basis: 360px;
	text-align: center;
}

.hallMaster .title {
	padding: 16px;

	font-family: Cambria;
	font-weight: bold;
	font-size: 30px;
	color: #c6335c;
	letter-spacing: 2px;
}

.hallMaster .avatar {
	width: 256px;
	height: 256px;
	border-radius: 50%;

	object-fit: cover;
	text-align: center;
}

.hallMaster .name {
	padding: 16px;

	font-family: Cambria;
	font-size: 20px;
	font-weight: bold;
}

.hallMaster .description {
	border-radius: 20px;
	padding: 16px;
	color: white;
	font-size: 14px;
	line-height: 2;
	background-color: #c6335c;
	text-align: center;

}

.residenceTutors {
	flex-basis: 740px;
}


.residenceTutors .title {
	padding: 16px;

	text-align: center;

	font-family: Cambria;
	font-weight: bold;
	font-size: 30px;
	color: #c6335c;
	letter-spacing: 2px;
}

.residenceTutors .tutorsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}


.tutorsContainer .tutor {
	display: flex;
	flex-direction: row;
	width: 340px;
	padding: 8px;
}

.tutor .avatar {
	width: 115px;
	height: 115px;
	border-radius: 50%;
	
	object-fit: cover;
	text-align: center;
}

.tutor .rightSide {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 8px;
}

.tutor .floorAndName {
	font-size: 20px;
	font-weight: bold;
	font-family: Cambria;
}

.tutor .floorAndName .floor {
	display: inline;
	color: #c6335c;
}

.tutor .floorAndName .name {
	display: inline;
}


.tutor .description {
	padding: 8px;
	font-size: 14px;
	font-family: Cambria;
}


@media (max-width: 700px) {
	.hallManagement {
        flex-wrap: wrap;
	}
}



