---
---

.yearBook {
    display: flex;
    justify-content: center;
    padding: 128px;
}


.yearBook a {
    display: block;

    padding-bottom: 32px;

    font-family: Cambria;
    font-weight: bold;
    font-size: 28px;
    color: black;
    text-decoration: none;
}

