<div class="footer">

    <div class="contactInfo">
        <div class="title">
            Contact Info
        </div>
        <br />
        Jockey Club Academy Hall (Hall 4), Student Residence,<br />
        City University of Hong Kong, <br />
        22 Cornwall Street, Kowloon, Hong Kong SAR<br /><br />
        <div class="chineseAddress">
            香港九龍塘歌和老街 22 號香港城市大學學生宿舍賽馬會群智堂 (4 座)
        </div>
    </div>

    <div class="followUs">
        <div class="title">
            Follow Us
        </div>
        <a class="facebookIcon" href="https://www.facebook.com/JockeyClubAcademyHall">
            <img src="{{ site.url }}{{ site.baseurl }}/assets/image/fb_icon.png">
        </a>
        <a class="instagramIcon" href="https://www.instagram.com/jcac_hall4/">
            <img src="{{ site.url }}{{ site.baseurl }}/assets/image/ig_icon.png">
        </a>
    </div>

    <div class="icon">
        <a class="cityuIcon" href="https://www.cityu.edu.hk/">
            <img src="{{ site.url }}{{ site.baseurl }}/assets/image/cityu_icon_invert.jpg">
        </a>
    </div>

</div>