<div class="header">

  <div class="text">
    <b>JCAC</b> - Jockey Club Academy Hall
  </div>

  <div class="buttonList">

    <div class="button">
      <a href="{{ site.url }}{{ site.baseurl }}/">Home</a>
    </div>
  
    <div class="button">
      <a href="{{ site.url }}{{ site.baseurl }}/about/">About JCAC</a>
    </div>
  
    <div class="button">
      <a href="{{ site.url }}{{ site.baseurl }}/hallManagement/">Hall Management</a>
    </div>
  
    <div class="button">
      <a href="https://www.cityu.edu.hk/sro/AboutStudentResidence/ResidenceHalls/SR04.htm">Hall Rules</a>
    </div>
  
    <div class="button">
      <a href="{{ site.url }}{{ site.baseurl }}/yearBook">Year Book</a>
    </div>
  
    <div class="button">
      <a href="{{ site.url }}{{ site.baseurl }}/facilites">Facilites</a>
    </div>
  
    <div class="button">
      <a href="{{ site.url }}{{ site.baseurl }}/events">Events</a>
    </div>

  </div>

</div>