<div class="header">

  <div class="text">
    <b>JCAC</b> - Jockey Club Academy Hall
  </div>

  <div class="button">
    <a href="/">Home</a>
  </div>

  <div class="button">
    <a href="/about/">About JCAC</a>
  </div>

  <div class="button">
    <a href="/hallManagement/">Hall Management</a>
  </div>

  <div class="button">
    <a href="/hallRules/">Hall Rules</a>
  </div>

  <div class="button">
    <a href="/yearBook">Year Book</a>
  </div>

  <div class="button">
    <a href="/facilites">Facilites</a>
  </div>

  <div class="button">
    <a href="/events">Events</a>
  </div>

</div>