<div class="header">

  <div class="text">
    <b>JCAC</b> - Jockey Club Academy Hall
  </div>

  <div class="buttonList">

    <a class="button" href="{{ site.url }}{{ site.baseurl }}/">Home</a>
  
    <a class="button" href="{{ site.url }}{{ site.baseurl }}/about/">About JCAC</a>

    <a class="button" href="{{ site.url }}{{ site.baseurl }}/hallManagement/">Hall Management</a>

    <a class="button" href="https://www.cityu.edu.hk/sro/AboutStudentResidence/ResidenceHalls/SR04.htm">Hall Rules</a>

    <a class="button" href="{{ site.url }}{{ site.baseurl }}/yearBook">Year Book</a>

    <a class="button" href="{{ site.url }}{{ site.baseurl }}/facilites">Facilites</a>

    <a class="button" href="{{ site.url }}{{ site.baseurl }}/events">Events</a>

  </div>

</div>