<head>
    <meta charset="utf-8">
    <title>JCAC Academy Hall</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}{{ site.baseurl }}/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}{{ site.baseurl }}/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}{{ site.baseurl }}/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ site.url }}{{ site.baseurl }}/assets/favicon/site.webmanifest">

    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/base/base.css">
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/base/header.css">
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/base/footer.css">
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/{{ page.layout }}.css">
    
</head>