<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/posts.css">

<div class="posts">

    {% assign sorted_posts = site.posts | sort:"date" | reverse %}

    {% if page.name == 'home.md' %}
    <!-- home page display limit 10 posts -->

    {% for post in sorted_posts limit:10 %}
    <div class="post">

        {% if post.linkToOther %}
        <a href="{{ post.linkToOther }}">
            <div class="imageBox">
                <img src="{{ site.url }}{{ site.baseurl }}/assets/post/{{ post.image }}" />
            </div>
            <div class="title">
                {{ post.title }}
            </div>
        </a>
        {% else %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
            <div class="imageBox">
                <img src="{{ site.url }}{{ site.baseurl }}/assets/post/{{ post.image }}" />
            </div>
            <div class="title">
                {{ post.title }}
            </div>
        </a>
        {% endif %}

        <div class="excerpt">
            {{ post.excerpt }}
        </div>

    </div>
    {% endfor %}

    {% else %}

    {% for post in sorted_posts %}
    <div class="post">

        {% if post.linkToOther %}
        <a href="{{ post.linkToOther }}">
            <div class="imageBox">
                <img src="{{ site.url }}{{ site.baseurl }}/assets/post/{{ post.image }}" />
            </div>
            <div class="title">
                {{ post.title }}
            </div>
        </a>
        {% else %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
            <div class="imageBox">
                <img src="{{ site.url }}{{ site.baseurl }}/assets/post/{{ post.image }}" />
            </div>
            <div class="title">
                {{ post.title }}
            </div>
        </a>
        {% endif %}

        <div class="excerpt">
            {{ post.excerpt }}
        </div>

    </div>
    {% endfor %}

    {% endif %}

</div>