
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/posts.css">

<div class="posts">

    {% assign sorted_posts = site.posts | sort:"date" %}
    {% for post in sorted_posts reversed %}
    <div class="post">
        
        {% if post.linkToOtherUrl %}
        <a href="{{ post.linkToOtherUrl }}">
            <div class="imageBox">
                <img src="{{ site.url }}{{ site.baseurl }}/{{ post.image }}" />
            </div>
            <div class="title">
                {{ post.title }}
            </div>
        </a>
        {% else %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
            <div class="imageBox">
                <img src="{{ site.url }}{{ site.baseurl }}/{{ post.image }}" />
            </div>
            <div class="title">
                {{ post.title }}
            </div>
        </a>
        {% endif %}

        <div class="excerpt">
            {{ post.excerpt }}
        </div>

    </div>
    {% endfor %}
</div>