---
---

.posts {
  display: flex;
  flex-wrap: wrap;
  padding: 2vw;
  gap: 1vw;
}

.posts .post {
  width: 17vw;
}

.post .imageBox {
  width: 100%;
  height: 10vw;
  padding-bottom: 16px;
}

@media (max-width: 1400px) {
  .posts .post {
    width: 21vw;
  }
  .post .imageBox {
    height: 21vw * 9 / 16;
  }
}

@media (max-width: 1120px) {
  .posts .post {
    width: 29vw;
  }
  .post .imageBox {
    height: 29vw * 9 / 16;
  }
}

@media (max-width: 840px) {
  .posts .post {
    width: 44vw;
  }
  .post .imageBox {
    height: 44vw * 9 / 16;
  }
}

@media (max-width: 600px) {
  .posts .post {
    width: 85vw;
  }
  .post .imageBox {
    height: 85vw * 9 / 16;
  }
}

.post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post .title {
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: Cambria;
}

.post a {
  display: block;

  padding-bottom: 16px;

  text-decoration: none;
}

.post .excerpt {
  line-height: 1.5;
  font-size: 18px;
}
