---
---


.post {
    padding: 64px 20vw;
}

.post .postTitle {
    font-size: 40px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 1.5rem;
}

.post .date {
    font-family: Cambria;
    font-size: 18px;
}

.post img {
    width: 100%;
}

.post iframe {
    width: 100%;
    height: 480px;
}
