---
layout: base
permalink: /hallManagement/
---

<div class="hallManagement">

    <div class="hallMaster">

        <div class="title">
            HALL MASTER
        </div>

        <img class="avatar" src="/assets/hallManagement/Ben.jpg">

        <div class="name">
            Prof. Ben LEUNG
        </div>

        <div class="description">
            Welcome to our Jockey Club Academy Hall (JCAC) big family of Academians! Here you will meet our fellow residents with diverse background from different disciplines and countries. This is a good place for you to enlarge your social circle and make more friends. Enjoy your life here!
        </div>
    </div>

    <div class="residenceTutors">

        <div class="title">
            RESIDENCE TUTORS
        </div>

    </div>

</div>
