<div class="banner">

    <div class="textContainer">
        <div class="centerBox">

            <div class="AcademicExcellence">
                <b>A</b>cademic Excellence
            </div>

            <div class="BalancedDevelopment">
                <b>B</b>alanced Development
            </div>

            <div class="CommunityCitizenship">
                <b>C</b>ommunity Citizenship
            </div>

            <div class="AboutAbcCulture">
                <a href="{{ site.url }}{{ site.baseurl }}/about/">
                    About ABC Culture
                </a>
            </div>

        </div>
    </div>

    <div class="rightSide">
        <!-- Please look at assets/css/page/home/banner.scss for the logo url -->
        <div class="logo">
        </div>
    </div>

</div>