<div class="embedYoutube">

    <div class="embedYoutubeContainer">

        <iframe width="560" height="315" src="https://www.youtube.com/embed/FvGYBMllzQs" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        
        <div class="description">
            Opened on March 15, 2004, <br/>
            <br/>
            Jockey Club Academy Hall (JCAC) has quickly ascended to be one of the most dynamic halls in City University of Hong Kong.<br/>
            <br/>
            It embraces the whole-person education ideal of the University, offering students a balanced life and an extension of learning beyond the classroom.
        </div>
        
    </div>

    <!-- <div class="paddingSpace"></div> -->

</div>